<%- include header -%>
<div class="booksWrapper">
  <% books.forEach(function (book) { %>
    <% if (book.bookId) { %>
      <section class="book">
        <header>
          <a class="btn" href="/book/<%= book.name %>">
            <% if (book.img) { %>
              <img class="bookImg" src="<%= book.img %>" alt="">
            <% } else { %>
              <img class="bookImg" src="../images/nobook.png" alt="">
            <% } %>
          </a>
        </header>
        <div class="bookBtns">
          <a class="btn" href="/book/<%= book.name %>">
            <h5 class="name"><%= book.name %></h5>
          </a>
          <span class="author"><%= book.author %></span>
          <% if (username === user.name) { %>
            <button class="removeBtn removeBook">删除本书</button>
            <a class="btn" href="/editcomment/<%= book.name %>">写笔记</a>
            <input type="text" disabled class="bookId" value=<%- book.bookId %> style="display: none;" %> />
          <% } %>
          <a class="btn" href="/comment/<%= book.name %>">查看笔记</a>
        </div>
      </section>
    <% } %>
  <% }) %>
</div>
<div class="page">
  <br />
  <% if (!isFirstPage) { %>
  <span class="prepage"><a title="上一页" href="?p=<%= page-1 %>">上一页</a></span>
  <% } %>
  <% if (!isLastPage) { %>
  <span class="nextpage"><a title="下一页" href="?p=<%= page+1 %>">下一页</a></span>
  <% } %>
</div>
<%- include footer -%>
