<%- include header -%>
<div class="booksWrapper">
  <% books.forEach(function (book) { %>
    <% if (book.bookId) { %>
      <section class="book">
        <header>
          <% if (book.img) { %>
            <a class="btn" href="/book/<%= book.name %>">
              <img class="bookImg" src="<%= book.img %>" alt="">
            </a>
          <% } %>
        </header>
        <div class="bookBtns">
          <a class="btn" href="/book/<%= book.name %>">
            <h5 class="name"><%= book.name %></h5>
          </a>
          <span class="author"><%= book.author %></span>
          <% if (username === user.name) { %>
            <button class="removeBtn removeBook">删除本书</button>
            <a class="btn" href="/add_comment/<%= book.name %>/<%= book.author %>">写笔记</a>
            <input type="text" disabled class="bookId" value=<%- book.bookId %> style="display: none;" %> />
          <% } %>
          <button class="showCommentBtn">查看笔记</button>
          <ul class="comment">
            <% book.comments.forEach(function (comment) { %>
            <li>
              <div class="commentContent"><%- comment.comment %></div>
              <% if (username === user.name) { %>
                <button class="removeBtn removeComment">删除此笔记</button>
                <input type="text" disabled class="commentId" value=<%- comment._id %> style="display: none;" %> />
              <% } %>
            </li>
            <% }) %>
          </ul>
        </div>
      </section>
    <% } %>
  <% }) %>
</div>
<div class="page">
  <br />
  <% if (!isFirstPage) { %>
  <span class="prepage"><a title="上一页" href="?p=<%= page-1 %>">上一页</a></span>
  <% } %>
  <% if (!isLastPage) { %>
  <span class="nextpage"><a title="下一页" href="?p=<%= page+1 %>">下一页</a></span>
  <% } %>
</div>
<%- include footer -%>
