<%- include header -%>
<% books.forEach(function (book) { %>
<section class="book">
    <header>
        <h3 class="name"><%= book.name %></h3>
        <span class="author"><%= book.author %></span>
    </header>
    <a class="btn" href="/book/<%= book.name %>/<%= book.author %>">豆瓣相关</a>
    <button class="removeBtn removeBook">删除本书</button>
    <a class="btn" href="/add_comment/<%= book.name %>/<%= book.author %>">写笔记</a>
    <button class="showCommentBtn">查看笔记</button>
    <ul class="comment" style="display: none">
        <% book.comments.forEach(function (comment) { %>
        <li>
            <div class="commentContent"><%- comment.comment %></div>
            <button class="removeBtn removeComment">删除此评论</button>
            <input type="text" disabled class="commentId" value=<%- comment._id %> style="display: none;" %> />
        </li>
        <% }) %>
    </ul>
</section>
<% }) %>
<div class="page">
    <br />
    <% if (!isFirstPage) { %>
    <span class="prepage"><a title="上一页" href="?p=<%= page-1 %>">上一页</a></span>
    <% } %>
    <% if (!isLastPage) { %>
    <span class="nextpage"><a title="下一页" href="?p=<%= page+1 %>">下一页</a></span>
    <% } %>
</div>
</article>
<script>
    <%- include ../public/javascripts/jquery.min.js %>
</script>
<script>
    <%- include ../public/javascripts/archive.js %>
</script>
</body>
</html>