<%- include header -%>
<ul class="logs">
<% logs.forEach(function (log) { %>
<% if (log.operation == 'add') { %>
    <li class="add">
    <span><%- log.username %></span>
    <span>添加了</span>
    <span><< <%- log.book %> >></span>
    <a href=<%- log.link %>>查看</a>
<% } else if (log.operation == 'comment') { %>
    <li class="comment">
    <span><%- log.username %></span>
    <span>写了新评论</span>
    <a href=<%- log.link %>>查看</a>
<% } %>
    </li>
<% }) %>
</ul>
<div class="page">
    <br />
    <% if (!isFirstPage) { %>
    <span class="prepage"><a title="上一页" href="?p=<%= page-1 %>">上一页</a></span>
    <% } %>
    <% if (!isLastPage) { %>
    <span class="nextpage"><a title="下一页" href="?p=<%= page+1 %>">下一页</a></span>
    <% } %>
</div>
<%- include footer -%>