<%- include header -%>
<ul class="logs">
<h3>动态</h3>
<% logs.forEach(function (log) { %>
<% if (log.operation == 'add') { %>
    <li class="add">
    <p class="log"><%- log.username %>添加了<< <%- log.book %> >></p>
    <span class="time"><%- log.time.getMonth()+1 %>-<%- log.time.getDate() %> <%- log.time.toLocaleTimeString() %></span>
    <a href=<%- log.link %>>查看</a>
<% } else if (log.operation == 'comment') { %>
    <li class="add">
    <p class="log"><%- log.username %>写了新评论</p>
    <span class="time"><%- log.time.getMonth()+1 %>-<%- log.time.getDate() %> <%- log.time.toLocaleTimeString() %></span>
    <a href=<%- log.link %>>查看</a>
<% } %>
    </li>
<% }) %>
</ul>
<div class="page">
    <br />
    <% if (!isFirstPage) { %>
    <span class="prepage"><a title="上一页" href="?p=<%= page-1 %>">上一页</a></span>
    <% } %>
    <% if (!isLastPage) { %>
    <span class="nextpage"><a title="下一页" href="?p=<%= page+1 %>">下一页</a></span>
    <% } %>
</div>
<%- include footer -%>