<%- include header -%>
<aside class="sidebar">
  <section class="panel">
    <header>个人信息</header>
    <div>
      <% if (user) { %>
        <div class="avatar-sm"></div>
        <a href="/profile"><%= user.name %></a>
        <div></div>
      <% } else { %>
        <div>没有账号?先去<a class="link" href="/register">注册</a></div>
      <% } %>
    </div>
  </section>
  <% if (user) { %>
    <section class="panel">
      <header>搜索</header>
      <div>
        <form action="/search" method="post">
          <input name="name" type="text" placeholder="" required />
          <input type="submit" value="搜索" />
        </form>
      </div>
    </section>
  <% } %>
  <section class="panel">
    <header>最多收藏图书top10</header>
    <div>
      <ul class="booksRankCollect booksRank">
        <% mostCollectedBooks.forEach(function (book) { %>
          <li>
            <a href="/book/<%= book.name %>">
              <%= book.name %>
            </a>
          </li>
        <% }) %>
      </ul>
    </div>
  </section>
  <section class="panel">
    <header>最热关键词top10</header>
    <div>
      <ul class="booksRankCollect booksRank">
        <% mostSearchedBooks.forEach(function (book) { %>
          <li>
            <a href="/book/<%= book.name %>">
              <%= book.name %>
            </a>
          </li>
        <% }) %>
      </ul>
    </div>
  </section>
</aside>
<div class="container">
  <ul>
    <% books.forEach(function (book) { %>
      <li>
        <a href="/profile/<%= book.username %>">
          <img class="avatar" src="<%= book.userhead %>" alt="" title="<%= book.username %>" />
        </a>
        <section>
          <header>
            <a href="/comment/<%= book.username %>/<%= book.name %>"><h4 class="bookTitle"><%= book.name %></h4></a>
            <span class="bookAuthor"><%= book.author %></span>
          </header>
          <div><%= book.summary %></div>
        </section>
      </li>
    <% }) %>
  </ul>
  <div class="page">
    <% if (!isFirstPage) { %>
      <span class="prepage">
        <a href="/?page=<%- page - 1 %>">上一页</a>
      </span>
    <% } %>
    <% if (!isLastPage) { %>
      <span class="nextpage">
        <a href="/?page=<%- page + 1 %>">下一页</a>
      </span>
    <% } %>
  </div>
</div>
<%- include footer -%>
