<%- include header -%>
<aside class="sidebar">
  <section class="panel">
    <header>个人信息</header>
    <div>
      <% if (user) { %>
        <div class="avatar-sm"></div>
        <a href="/profile"><%= user.name %></a>
        <div></div>
      <% } else { %>
        <div>没有账号?先去<a href="/register">注册</a></div>
      <% } %>
    </div>
  </section>
  <% if (user) { %>
    <section class="panel">
      <header>搜索</header>
      <div>
        <form action="/search" method="post">
          <input name="name" type="text" placeholder="" required />
          <input type="submit" value="搜索" />
        </form>
      </div>
    </section>
  <% } %>
</aside>
<div class="container">

  <ul class="booksRankCollect booksRank">
    <h4>最多收藏图书top10</h4>
    <% mostCollectedBooks.forEach(function (book) { %>
      <li>
        <a href="/book/<%= book.name %>"><%= book.name %></a>
        <span class="rankValue">
          <%= book.collectTimes %>
        </span>
      </li>
    <% }) %>
  </ul>
  <ul class="booksRankSearch booksRank">
    <h4>最热关键词top10</h4>
    <% mostSearchedBooks.forEach(function (book) { %>
      <li>
        <a href="/book/<%= book.name %>"><%= book.name %></a>
        <span class="rankValue">
          <%= book.searchTimes %>
        </span>
      </li>
    <% }) %>
  </ul>
</div>
<%- include footer -%>
