<%- include header %>
<div class="userInfo">
  <div class="userInfoDetail">
    <div class="user-head">
      <img class="user-head-img" src="<%= userInfo.head %>" alt="">
      <input type="file" class="user-head-file">
    </div>
    <span class="user-text user-name"><%= userInfo.name %></span>
    <span class="user-text user-summary">“<%= userInfo.summary %>”</span>
    <% if (userInfo.name === user.name) { %>
      <button class="changeUserInfoBtn" type="button">修改信息</button>
    <% } %>
    <form class="changeUserInfoForm hide" method="post" action="/profile">
      <div>
        <label for="summary">个人简介</label><input type="text" name="summary">
      </div>
      <div>
        <label for="email">邮箱地址</label><input type="email" name="email">
      </div>
      <button type="submit">确认修改</button>
    </form>
  </div>
  <div class="user">
    <ul>
      <% books.forEach(function (book) { %>
        <li>
          <a href="/book/<%= book.bookId %>">
            <img class="avatar" src="<%= book.img %>" alt="" title="<%= book.name %>" />
          </a>
          <section class="bookList">
            <a class="bookTitle" href="/comment/<%= book.username %>/<%= book.bookId %>"><%= book.name %></a>
            <span class="bookAuthor"><%= book.author %></span>
          </section>
        </li>
      <% }) %>
    </ul>
    <div class="page">
      <% if (!isFirstPage) { %>
        <span class="prepage">
          <a href="/?page=<%- page - 1 %>">上一页</a>
        </span>
      <% } %>
      <% if (!isLastPage) { %>
        <span class="nextpage">
          <a href="/?page=<%- page + 1 %>">下一页</a>
        </span>
      <% } %>
      <span>第<%= page %>页</span>
      <span>共<%= pageNum %>页<span>
    </div>
  </div>
</div>
<%- include footer %>
